body {
    background-color: #00b5ad;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: flex-start;
}

